<template>
  <div>
    <nuxt-link
      class="fr-link fr-fi-arrow-left-line fr-link--icon-left fr-mb-6w"
      :to="{ name: 'services' }"
      >Retour à la liste</nuxt-link
    >

    <FrTitle class="fr-mb-6w" larger>{{ service.project_name }}</FrTitle>

    <FrTag
      v-for="(theme, index) in [
        service.territory_competence,
        ...service.territory_themes,
      ]"
      :key="`service-tag--${index}`"
      class="fr-mr-2w fr-mb-6w"
      :label="theme"
    />

    <p v-if="service.value_proposal">
      <strong>{{ service.value_proposal }}</strong>
    </p>
    <section
      v-if="service.description"
      class="fr-mb-6w anct-html-content"
      v-html="marked(service.description)"
    />
    <FrLinkButton :to="{ name: 'contact' }">Contacter</FrLinkButton>
  </div>
</template>

<script>
import { marked } from 'marked';

import FrTitle from '~/components/ui/Title';
import FrTag from '~/components/ui/tags/Basic';
import FrLinkButton from '~/components/ui/LinkButton';

export default {
  name: 'ServicePage',
  components: { FrLinkButton, FrTitle, FrTag },

  async asyncData({ $search, params }) {
    const { hits } = await $search
      .index('services')
      .search('', { filter: [`slug = '${params.slug}'`] });

    const [service] = hits;

    return {
      service,
    };
  },

  data() {
    return {
      service: {},
    };
  },

  methods: {
    marked,
  },
};
</script>

<style scoped>
/deep/ .anct-html-content blockquote {
  margin-left: 0;
  border-left: 4px solid var(--blue-france-main-525);
  padding-left: 16px;
}

/deep/ .anct-html-content blockquote p {
  margin-bottom: 0;
}

/deep/ .anct-html-content blockquote p strong {
  font-weight: normal;
}

/deep/ .anct-html-content ul,
/deep/ .anct-html-content ol {
  margin-left: 24px;
  margin-bottom: 16px;
}

/deep/ .anct-html-content ul p {
  margin-bottom: 8px;
}

/deep/ .anct-html-content h2 {
  margin-top: 48px;
}
</style>
