<template>
  <div>
    <FrTitle class="fr-mb-6w" larger> Les services </FrTitle>

    <div class="fr-container fr-container--fluid fr-px-0">
      <div class="fr-grid-row">
        <div class="fr-col-6">
          <p class="fr-h3">
            <strong>{{ servicesNumberString }}</strong>
          </p>

          <div class="fr-container fr-container--fluid fr-px-0">
            <div class="fr-grid-row">
              <FrCard
                v-for="(service, index) in services"
                :key="`service-card--${index}`"
                :title="truncateString(service.value_proposal || '', 120)"
                :sub-title="service.project_name"
                :link-to="`services/${service.slug}`"
                enlarge-link
                class="fr-col-5 fr-mr-2w fr-mb-2w"
                :description="truncateString(service.description || '')"
              >
                <div class="anct-flex-between anct-flex-center anct-flex-wrap">
                  <p
                    v-if="service.resource_type[0]"
                    class="fr-tag fr-text--xs"
                    :class="getCSSClassColor(service.resource_type[0])"
                  >
                    {{ service.resource_type[0] }}
                  </p>
                  <p
                    class="fr-text--xs fr-mb-0"
                    :class="getCSSClassColor(service.service_status)"
                  >
                    {{ service.service_status }}
                  </p>
                  <p
                    v-if="service.territory_themes"
                    class="fr-text--xs fr-mb-0 fr-mt-1w"
                  >
                    {{ service.territory_themes[0] }}
                  </p>
                </div>
              </FrCard>
            </div>
          </div>

          <FrPagination
            v-model="currentPage"
            :total-pages="Math.ceil(totalServices / limit)"
            class="fr-mt-4w anct-flex-center"
            @input="search"
          />
        </div>

        <div class="fr-col-6">
          <FrSearch
            id="search-service"
            v-model="searchString"
            @input="search"
          />

          <div class="fr-mt-4w">
            <p class="fr-mb-1w fr-text--lg"><strong>Vous êtes</strong></p>
            <button
              v-for="(value, index) in TYPE_FILTER"
              :key="`type-filter--${index}`"
              class="fr-btn fr-mr-2w fr-mb-2w fr-text--sm"
              :class="{
                'fr-btn--primary': activeButtons.includes(value),
                'fr-btn--secondary': !activeButtons.includes(value),
              }"
              @click="setFilters({ field: 'territorial_level_target', value })"
            >
              {{ value }}
            </button>
          </div>

          <div class="fr-mt-4w">
            <p class="fr-pb-1w fr-text--lg border-bottom-primary">
              <strong>À quel sujet</strong>
            </p>
            <button
              v-for="(value, index) in THEME_FILTER"
              :key="`theme-filter--${index}`"
              class="fr-btn fr-mr-2w fr-mb-2w fr-text--sm"
              :class="{
                'fr-btn--primary': activeButtons.includes(value),
                'fr-btn--secondary': !activeButtons.includes(value),
              }"
              @click="setFilters({ field: 'territory_themes', value })"
            >
              {{ value }}
            </button>
          </div>

          <div class="fr-mt-4w">
            <div class="fr-select-group">
              <label class="fr-label fr-text--lg fr-mb-1w" for="select">
                <strong>Programme de l’Incubateur</strong>
              </label>
              <select
                id="select"
                class="fr-select"
                name="select"
                @change="
                  setFilters({
                    field: 'incubator_program',
                    value: $event.target.value,
                  })
                "
              >
                <option value="" selected disabled hidden>
                  Selectionnez une option
                </option>
                <option
                  v-for="(option, index) in PROGRAM_OPTIONS"
                  :key="`select-option--${index}`"
                  :value="option"
                >
                  {{ option }}
                </option>
              </select>
            </div>
          </div>

          <div class="fr-mt-4w">
            <div class="fr-grid-row"></div>
            <p class="fr-col fr-pb-1w fr-text--lg border-bottom-primary">
              <strong>Quels types de ressources ?</strong>
            </p>
            <div class="fr-col-8">
              <FrSwitch
                switch-id="switch-services-numeriques"
                class="border-bottom-primary"
                label="Services numériques"
                label-left
                checked-label="Activé"
                unchecked-label="Désactivé"
                @input="
                  setFilters({
                    field: 'resource_type',
                    value: 'Service numérique',
                  })
                "
              />

              <FrSwitch
                switch-id="switch-kit"
                label="Kit et Guide"
                label-left
                class="border-bottom-primary"
                checked-label="Activé"
                unchecked-label="Désactivé"
                @input="
                  setFilters({
                    field: 'resource_type',
                    value: 'Kit et Guide',
                  })
                "
              />

              <FrSwitch
                switch-id="switch-dispo"
                label="Disponibles immédiatement"
                label-left
                class="border-bottom-primary"
                checked-label="Activé"
                unchecked-label="Désactivé"
                @input="
                  setFilters({
                    field: 'service_status',
                    value: 'Disponible',
                  })
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { INDEX } from '~/plugins/meilisearch';
import { TYPE_FILTER, THEME_FILTER, PROGRAM_OPTIONS } from './data';

import FrSwitch from '~/components/form/Switch';
import FrSearch from '~/components/form/Search';
import FrCard from '~/components/elements/Card';
import FrPagination from '~/components/elements/Pagination';
import FrTitle from '~/components/ui/Title';

export default {
  name: 'ServicesPage',

  components: { FrTitle, FrSwitch, FrSearch, FrCard, FrPagination },

  async asyncData({ $search }) {
    const { hits, nbHits } = await $search.index(INDEX).search('', {
      limit: 8,
    });

    return {
      services: hits.map((hit) => ({
        ...hit,
        description: hit.description.replace('\\', ''),
      })),
      totalServices: nbHits,
    };
  },

  data() {
    return {
      searchString: '',
      currentPage: 1,
      limit: 8,
      totalServices: 0,
      activeButtons: [],
      filters: [],
      subFilters: [],
      services: [],
      TYPE_FILTER,
      THEME_FILTER,
      PROGRAM_OPTIONS,
    };
  },

  computed: {
    servicesNumberString() {
      const isPlural = this.totalServices > 1;
      return `${this.totalServices} ressource${isPlural ? 's' : ''} disponible${
        isPlural ? 's' : ''
      } pour vous`;
    },
  },

  methods: {
    async search() {
      const { hits, nbHits } = await this.$search
        .index(INDEX)
        .search(this.searchString, {
          filter: this.generateFilter(),
          limit: this.limit,
          offset: (this.currentPage - 1) * this.limit,
        });

      this.totalServices = nbHits;
      this.services = hits.map((hit) => ({
        ...hit,
        description: hit.description.replace('\\', ''),
      }));
    },
    setFilters({ field, value }) {
      const filter = `${field} = "${value}"`;

      switch (field) {
        case 'incubator_program': {
          const filterIndex = this.filters.findIndex(
            (f) => f.split('=')[0].trim() === field,
          );

          if (value === 'Tous les programmes') {
            this.filters.splice(filterIndex, 1);
          } else if (filterIndex > -1) {
            this.filters[filterIndex] = filter;
          } else {
            this.filters.push(filter);
          }

          break;
        }
        case 'resource_type':
          this.subFilters = this.subFilters.includes(filter)
            ? this.subFilters.filter((f) => f !== filter)
            : [...this.subFilters, filter];

          break;
        case 'territorial_level_target':
        case 'territory_themes':
          this.toggleActiveButtons(value);

          this.filters = this.filters.includes(filter)
            ? this.filters.filter((f) => f !== filter)
            : [...this.filters, filter];

          break;
        default:
          this.filters = this.filters.includes(filter)
            ? this.filters.filter((f) => f !== filter)
            : [...this.filters, filter];

          break;
      }

      this.currentPage = 1;
      this.search();
    },
    generateFilter() {
      if (this.subFilters.length <= 1) {
        return [...this.filters, ...this.subFilters];
      }

      return [...this.filters, this.subFilters];
    },

    truncateString(str, charNumber = 100) {
      if (str.length > charNumber) {
        return `${str.substring(0, charNumber)}...`;
      }
      return str;
    },

    getCSSClassColor(type) {
      switch (type) {
        case 'Service numérique':
          return 'tag-color-primary';
        case 'Retours d’expériences':
          return 'tag-color-secondary';
        case 'Kit et Guide':
          return 'tag-color-tertiary';
        case 'Disponibles immédiatement':
          return 'tag-color-quaternary';
        case 'Disponible':
          return 'text-success-color';
        default:
          return null;
      }
    },

    toggleActiveButtons(filter) {
      if (this.activeButtons.includes(filter)) {
        this.activeButtons = this.activeButtons.filter(
          (activeFilter) => activeFilter !== filter,
        );
      } else {
        this.activeButtons.push(filter);
      }
    },
  },
};
</script>

<style scoped>
.border-bottom-primary {
  border-bottom: 1px solid var(--border-default-grey);
}

.tag-color-primary {
  color: var(--blue-france-sun-113-625);
}

.tag-color-secondary {
  color: var(--grey-50-1000);
}

.text-success-color {
  color: var(--success-425-625);
}
</style>
