<template>
  <div
    :id="id"
    class="fr-search-bar"
    :class="{ 'fr-search-bar--lg': large }"
    role="search"
  >
    <label class="fr-label" :for="id"><slot>Recherche</slot></label>
    <input
      :id="id"
      class="fr-input"
      :placeholder="placeholder"
      :value="value"
      type="search"
      :name="id"
      @input="search"
    />
    <button class="fr-btn" title="Rechercher">Rechercher</button>
  </div>
</template>

<script>
export default {
  name: 'FrSearch',

  props: {
    id: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      default: 'Rechercher',
    },
    large: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    search({ target }) {
      this.$emit('input', target.value);
    },
  },
};
</script>

<style scoped></style>
