<template>
  <div class="fr-toggle" :class="{ 'fr-toggle--label-left': labelLeft }">
    <input
      :id="switchId"
      type="checkbox"
      :disabled="disabled"
      class="fr-toggle__input"
      :aria-describedby="ariaDescription"
      @input="emitInput"
    />
    <label
      class="fr-toggle__label"
      :for="switchId"
      :data-fr-checked-label="checkedLabel"
      :data-fr-unchecked-label="uncheckedLabel"
      >{{ label }}</label
    >
    <p v-if="withHintText" :id="`${switchId}-hint-text`" class="fr-hint-text">
      {{ hintText }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'SwitchElement',

  props: {
    switchId: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    ariaDescription: {
      type: String,
      default: null,
    },
    hintText: {
      type: String,
      default: null,
      validator(value) {
        return (this.withHintText && value) || (!this.withHintText && !value);
      },
    },
    checkedLabel: {
      type: String,
      default: null,
    },
    uncheckedLabel: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    withHintText: {
      type: Boolean,
      default: false,
    },
    labelLeft: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    emitInput($event) {
      this.$emit('input', $event.target.checked);
    },
  },
};
</script>
