<template>
  <div>
    <FrTitle larger class="fr-mb-4w">Actualité de l’Incubateur</FrTitle>
    <FrSubTitle class="fr-mb-6w">
      Voici les dernières actualité de l’incubateur des territoires de l’ANCT.
    </FrSubTitle>

    <div class="fr-container fr-px-0 fr-mb-6w">
      <div class="fr-grid-row fr-grid-row--gutters fr-mx-0 fr-my-2w">
        <FrCard
          v-for="(card, index) in cards"
          :key="`news-card${index}`"
          class="fr-col-lg-3 fr-col-sm-5 fr-mr-2w fr-mb-2w"
          :link-to="card.to"
          :title="card.title"
          :description="card.description"
          :detail="card.detail"
          :image-path="card.image"
          enlarge-link
        />
      </div>
    </div>
  </div>
</template>

<script>
import FrTitle from '~/components/ui/Title';
import FrSubTitle from '~/components/ui/SubTitle';
import FrCard from '~/components/elements/Card';

export default {
  name: 'NewsPage',

  components: { FrSubTitle, FrTitle, FrCard },

  async asyncData({ $axios, $config }) {
    const { data } = await $axios.$get('/items/actualites', {
      params: {
        fields: 'id,title,description,image,slug,publication_date',
        filter: { status: { _eq: 'published' } },
        sort: '-publication_date',
      },
    });

    const cards = data.map(
      ({ title, description, image, slug, publication_date }) => {
        const detail = new Date(publication_date).toLocaleString('fr-FR', {
          day: 'numeric',
          month: 'long',
          year: 'numeric',
        });

        return {
          detail,
          title,
          description,
          image: image
            ? `${$config.apiURL}/assets/${image}`
            : '/images/logo_incubateur.png',
          to: { name: 'actualites-slug', params: { slug } },
        };
      },
    );

    return { cards };
  },

  data() {
    return {
      cards: [],
    };
  },
};
</script>
