<template>
  <div
    class="fr-card fr-p-0"
    :class="{
      'fr-enlarge-link': enlargeLink,
      'fr-card--horizontal': horizontal,
      [`fr-card--${color}`]: color,
    }"
  >
    <div class="fr-card__body">
      <h4 class="fr-card__title">
        <nuxt-link :to="linkTo" class="fr-card__link">{{ title }}</nuxt-link>
      </h4>

      <p v-if="subTitle" class="fr-card__desc fr-mb-0">{{ subTitle }}</p>

      <p v-if="description" class="fr-card__desc">
        {{ description }}
      </p>

      <p v-if="$slots.default || detail" class="fr-card__detail">
        <slot>{{ detail }}</slot>
      </p>
    </div>

    <div v-if="imagePath" class="fr-card__img">
      <img :src="imagePath" class="fr-responsive-img" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'FrCard',

  props: {
    title: {
      type: String,
      required: true,
    },
    subTitle: {
      type: String,
      default: null,
    },
    description: {
      type: String,
      default: null,
    },
    detail: {
      type: String,
      default: null,
    },
    imagePath: {
      type: String,
      default: null,
    },
    color: {
      type: String,
      default: null,
    },
    linkTo: {
      type: String,
      default: '#',
    },
    enlargeLink: {
      type: Boolean,
      default: false,
    },
    horizontal: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.fr-card__img {
  border-bottom: 1px solid var(--border-default-grey);
}
</style>
