<template>
  <div>
    <div class="fr-follow">
      <div class="fr-container">
        <div class="fr-grid-row">
          <div class="fr-col-12">
            <div class="fr-follow__social">
              <p class="fr-h5 fr-mb-3v fr-mb-3v">
                Suivez-nous <br />
                sur les réseaux sociaux
              </p>
              <ul class="fr-links-group fr-links-group--lg">
                <li>
                  <FrLink
                    icon-class="fr-link--twitter"
                    title="Consulter le Twitter de l'Incubateur des Territoires"
                    to="https://twitter.com/IncubateurT"
                    external
                  >
                    Twitter
                  </FrLink>
                </li>
                <li>
                  <FrLink
                    icon-class="fr-link--linkedin"
                    title="Consulter le Linkedin de l'Incubateur des Territoires"
                    to="https://www.linkedin.com/showcase/anct-incubateur-des-territoires/"
                    external
                  >
                    LinkedIn
                  </FrLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer id="fr-footer-1" class="fr-footer" role="contentinfo">
      <div class="fr-container">
        <div class="fr-footer__body">
          <div class="fr-footer__brand fr-enlarge-link">
            <a class="anct-flex-center" href="/" title="Retour à l’accueil">
              <p class="fr-logo" title="république française">
                république
                <br />française
              </p>
              <nuxt-link
                class="fr-footer__brand-link"
                to="https://agence-cohesion-territoires.gouv.fr/"
                target="_blank"
                rel="noopener"
              >
                <img
                  class="fr-footer__logo"
                  src="~/assets/images/logo_anct.svg"
                  alt="Agence Nationale de la Cohésion des Territoires"
                />
              </nuxt-link>
            </a>
          </div>
          <div class="fr-footer__content">
            <p class="fr-footer__content-desc">
              L'Incubateur des Territoires est une mission de l'<a
                href="https://anct.gouv.fr"
                class="fr-text-title--blue-france"
                title="Visiter le site de l'ANCT"
                >Agence Nationale de la Cohésion des Territoires</a
              >. Le code source de ce site web est disponible en licence libre.
              Le design de ce site est conçu avec le
              <a
                href="https://gouvfr.atlassian.net/wiki/spaces/DB/overview?homepageId=145359476"
                title="Consulter la documentation du Système de Design de l'État"
                target="_blank"
                rel="noopener"
                class="fr-text-title--blue-france"
              >
                système de design de l’État
              </a>
              .
            </p>
            <ul class="fr-footer__content-list">
              <li class="fr-footer__content-item">
                <a
                  class="fr-footer__content-link"
                  href="https://legifrance.gouv.fr"
                  rel="noopener"
                  target="_blank"
                  >legifrance.gouv.fr</a
                >
              </li>
              <li class="fr-footer__content-item">
                <a
                  class="fr-footer__content-link"
                  href="https://gouvernement.fr"
                  rel="noopener"
                  target="_blank"
                  >gouvernement.fr</a
                >
              </li>
              <li class="fr-footer__content-item">
                <a
                  class="fr-footer__content-link"
                  href="https://service-public.fr"
                  rel="noopener"
                  target="_blank"
                  >service-public.fr</a
                >
              </li>
              <li class="fr-footer__content-item">
                <a
                  class="fr-footer__content-link"
                  href="https://data.gouv.fr"
                  rel="noopener"
                  target="_blank"
                  >data.gouv.fr</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="fr-footer__bottom">
          <ul class="fr-footer__bottom-list">
            <li class="fr-footer__bottom-item">
              <nuxt-link
                class="fr-footer__bottom-link"
                :to="{ name: 'plan-du-site' }"
                >Plan du site</nuxt-link
              >
            </li>
            <li class="fr-footer__bottom-item">
              <span class="fr-footer__bottom-link"
                >Accessibilité: non conforme</span
              >
            </li>
            <li class="fr-footer__bottom-item">
              <nuxt-link
                class="fr-footer__bottom-link"
                :to="{ name: 'mentions-legales' }"
                >Mentions légales</nuxt-link
              >
            </li>
            <li class="fr-footer__bottom-item">
              <nuxt-link
                class="fr-footer__bottom-link"
                :to="{ name: 'donnees-personnelles' }"
                >Données personnelles</nuxt-link
              >
            </li>
          </ul>

          <div class="fr-footer__bottom-copy">
            <p>
              Sauf mention contraire, tous les textes de ce site sont sous
              <a
                href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
                target="_blank"
                rel="noopener"
                >licence etalab-2.0</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
import FrLink from '~/components/ui/Link';

export default {
  name: 'FrFooter',

  components: { FrLink },
};
</script>
