<template>
  <header role="banner" class="fr-header">
    <div class="fr-header__body">
      <div class="fr-container">
        <div class="fr-header__body-row">
          <div class="fr-header__brand fr-enlarge-link">
            <div class="fr-header__brand-top">
              <div class="fr-header__logo">
                <p class="fr-logo">
                  République
                  <br />Française
                </p>
              </div>
              <div class="fr-header__operator">
                <img
                  src="~/assets/images/logo_incubateur.svg"
                  class="fr-responsive-img"
                  style="width: 2.5rem"
                  alt="Incubateur des Territoires"
                />
              </div>
              <div class="fr-header__navbar">
                <button
                  id="fr-btn-menu-mobile-4"
                  class="fr-btn--menu fr-btn"
                  data-fr-opened="false"
                  aria-controls="modal-870"
                  aria-haspopup="menu"
                  title="Menu"
                >
                  Menu
                </button>
              </div>
            </div>
            <div class="fr-header__service fr-pl-0">
              <nuxt-link to="/">
                <p class="fr-header__service-title">
                  Incubateur des Territoires
                </p>
              </nuxt-link>
            </div>
          </div>
          <div class="fr-header__tools">
            <div class="fr-header__tools-links">
              <ul class="fr-links-group">
                <li>
                  <nuxt-link
                    :to="{ name: 'contact' }"
                    class="fr-link fr-fi-mail-line"
                    >Nous contacter</nuxt-link
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="modal-870"
      class="fr-header__menu fr-modal"
      aria-labelledby="fr-btn-menu-mobile-4"
    >
      <div class="fr-container">
        <button class="fr-link--close fr-link" aria-controls="modal-870">
          Fermer
        </button>
        <div class="fr-header__menu-links"></div>
        <nav
          id="navigation-869"
          class="fr-nav"
          role="navigation"
          aria-label="Menu principal"
        >
          <ul class="fr-nav__list">
            <li class="fr-nav__item">
              <nuxt-link class="fr-nav__link" :to="{ name: 'a-propos' }"
                >A propos</nuxt-link
              >
            </li>
            <li class="fr-nav__item">
              <nuxt-link class="fr-nav__link" :to="{ name: 'offre' }"
                >Offre d'accompagnement</nuxt-link
              >
            </li>
            <li class="fr-nav__item">
              <nuxt-link class="fr-nav__link" :to="{ name: 'services' }"
                >Services numériques</nuxt-link
              >
            </li>
            <li>
              <nuxt-link class="fr-nav__link" :to="{ name: 'actualites' }"
                >Actualités</nuxt-link
              >
            </li>
            <li class="fr-nav__item anct-special-label">
              <a
                class="fr-nav__link"
                href="https://forum.incubateur.anct.gouv.fr"
                target="_blank"
                rel="noopener"
                >Forum</a
              >
              <span class="special">Nouveau</span>
            </li>
            <li class="fr-nav__item">
              <nuxt-link
                class="fr-nav__link after-special"
                :to="{ name: 'recrutement' }"
                >Recrutement</nuxt-link
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'FrHeader',
};
</script>

<style scoped>
.anct-special-label {
  position: relative;
}

.anct-special-label .special {
  content: 'Nouveau';
  position: absolute;
  z-index: 1000;
  top: 3px;
  left: 50%;
  height: fit-content;
  line-height: 19px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color: #00ac8c;
  border-radius: 13px;
  padding: 0 0.8rem;
}

.after-special:hover {
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .anct-special-label::after {
    top: 32%;
    left: 8%;
  }
}

@media screen and (max-width: 600px) {
  .anct-special-label::after {
    top: 32%;
    left: 18%;
  }
}
</style>
