<template>
  <nav role="navigation" class="fr-pagination" aria-label="Pagination">
    <ul class="fr-pagination__list">
      <li>
        <a
          class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"
          :aria-disabled="value === 1"
          role="link"
          :href="value === 1 ? null : '#'"
        >
          Précédent
        </a>
      </li>

      <li v-for="(page, index) in pageList" :key="`pagination-link--${index}`">
        <a
          class="fr-pagination__link"
          :class="{ 'fr-displayed-lg': page === '...' }"
          :aria-current="page === value ? 'page' : null"
          :href="value.index === index || value.index === '...' ? null : '#'"
          @click.prevent="changePage(page)"
          >{{ page }}</a
        >
      </li>

      <li>
        <a
          class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"
          :aria-disabled="value === totalPages"
          :href="value === totalPages ? null : '#'"
        >
          Suivant
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'FrPagination',

  props: {
    value: {
      type: Number,
      required: true,
    },
    totalPages: {
      type: Number,
      required: true,
    },
  },

  computed: {
    pageList() {
      if (this.totalPages < 7) {
        return Array.from(
          { length: this.totalPages || 1 },
          (_, index) => index + 1,
        );
      }

      if (this.value < 3) {
        return [1, 2, 3, '...', this.totalPages];
      }

      if (this.value === 3) {
        return [1, 2, 3, 4, '...', this.totalPages];
      }

      if (this.value === 8) {
        return [
          1,
          '...',
          this.totalPages - 3,
          this.totalPages - 2,
          this.totalPages - 1,
          this.totalPages,
        ];
      }

      if (this.totalPages - this.value < 2) {
        return [
          1,
          '...',
          this.totalPages - 2,
          this.totalPages - 1,
          this.totalPages,
        ];
      }

      return [
        1,
        '...',
        this.value - 1,
        this.value,
        this.value + 1,
        '...',
        this.totalPages,
      ];
    },
  },

  methods: {
    changePage(pageNumber) {
      this.$emit('input', pageNumber);
    },
  },
};
</script>

<style scoped></style>
