<template>
  <component
    :is="external ? 'a' : 'nuxt-link'"
    class="fr-link"
    :class="{
      'fr-text-title--blue-france': !black,
      'fr-link--icon-right': iconRight,
      'fr-link--icon-left': iconLeft,
      [iconClass]: !!iconClass,
    }"
    :to="!external ? to : null"
    :href="external ? to : null"
    :rel="external ? 'noopener' : null"
    :target="external ? '_blank' : null"
    ><slot
  /></component>
</template>

<script>
export default {
  name: 'FrLink',

  props: {
    to: {
      type: Object || String,
      required: true,
    },

    iconRight: {
      type: Boolean,
      default: false,
    },
    iconLeft: {
      type: Boolean,
      default: false,
    },
    iconClass: {
      type: String,
      default: null,
    },
    external: {
      type: Boolean,
      default: false,
    },
    black: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
