@import "@gouvfr/dsfr/dist/dsfr/dsfr.css";

.anct-text-main {
  color: var(--blue-france-main-525);
}

.anct-text-xxl {
  font-size: 32px;
}

.anct-text-center {
  text-align: center;
}

.anct-text-right {
  text-align: right;
}

.anct-border-primary {
  border: 1px solid var(--border-default-grey);
}

.anct-border-main {
  border: 1px solid var(--blue-france-main-525);
}

.anct-border-square {
  border-radius: 0;
}

.anct-border-rounded {
  border-radius: 25px;
}

.anct-border-dashed {
  border-style: dashed;
}

.anct-bg-blue {
  background-color: #F5F5FE;
}

.anct-bg-gray {
  background-color: #F9F8F6;
}

.anct-flex-center {
  display: flex;
  align-items: center;
}

.anct-flex-between {
  display: flex;
  justify-content: space-between;
}

.anct-flex-wrap {
  flex-wrap: wrap;
}

feedback-widget a {
  background-position: unset !important;
}

feedback-widget a:hover {
  background-color: #000091 !important;
}

