<template>
  <div>
    <FrTitle class="fr-mb-6w" larger> Données personnelles </FrTitle>

    <section class="fr-col-lg-8" v-html="content" />
  </div>
</template>

<script>
import FrTitle from '~/components/ui/Title';

export default {
  name: 'PersonalDataPage',

  components: { FrTitle },

  async asyncData({ $axios }) {
    const { data: res } = await $axios.get('items/pages', {
      params: {
        fields: 'content',
        limit: 1,
        filter: { slug: { _eq: 'donnees-personnelles' } },
      },
    });

    const { content } = res.data[0];

    return { content };
  },
};
</script>

<style scoped>
/deep/ .anct-html-content blockquote {
  margin-left: 0;
  border-left: 4px solid var(--blue-france-main-525);
  padding-left: 16px;
}

/deep/ .anct-html-content blockquote p {
  margin-bottom: 0;
}

/deep/ .anct-html-content blockquote p strong {
  font-weight: normal;
}

/deep/ .anct-html-content ul,
/deep/ .anct-html-content ol {
  margin-left: 24px;
  margin-bottom: 16px;
}

/deep/ .anct-html-content ul p {
  margin-bottom: 8px;
}

/deep/ .anct-html-content h2 {
  margin-top: 48px;
}
</style>
