<template>
  <div>
    <FrTitle larger>Plan du site</FrTitle>

    <FrTitle tag="h3" black
      ><nuxt-link :to="{ name: 'offre' }">Offre</nuxt-link></FrTitle
    >

    <FrTitle tag="h3" black>Nos services</FrTitle>
    <p><em>Bientôt disponible.</em></p>

    <FrTitle tag="h3" black>Et</FrTitle>

    <ul class="fr-ml-2w">
      <li><nuxt-link :to="{ name: 'contact' }">Contact</nuxt-link></li>
      <li><nuxt-link :to="{ name: 'recrutement' }">Recrutement</nuxt-link></li>
      <li>
        <nuxt-link :to="{ name: 'donnees-personnelles' }"
          >Données personnelles</nuxt-link
        >
      </li>
      <li>
        <nuxt-link :to="{ name: 'mentions-legales' }"
          >Mentions légales</nuxt-link
        >
      </li>
    </ul>
  </div>
</template>

<script>
import FrTitle from '~/components/ui/Title';

export default {
  name: 'SiteMapPage',

  components: { FrTitle },
};
</script>
